.storageProblemFeedback {
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .problem-feedback-user {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name {
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }
    .commit-date {
      font-size: 14px;
      color: #666;
      padding-top: 6px;
    }
  }
  .problem-feedback-question {
    margin-bottom: 34px;
  }
  .problem-feedback-reply {
    margin-bottom: 23px;
    .problem-feedback-user {
      position: relative;
      img {
        margin-left: 10px;
        margin-right: 0;
      }
      .name {
        text-align: right;
      }
    }
  }
  .badge {
    position: absolute;
    left: 28px;
    bottom: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    line-height: 16px;
    font-size: 10px;
    font-weight: 500;
    flex-shrink: 0;

    &.badge-question {
      background-color: #FF9500;
      color: #FFFFFF;
    }

    &.badge-answer {
      background-color: #007AFF;
      color: #FFFFFF;
      left: auto;
      right: 28px;
    }
  }
  .problem-feedback-empty {
    text-align: right;
  }
  .problem-feedback-content-text {
    padding: 11px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 500;
    color: #333333;
    background-color: #FCEFDD;
    border-radius: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 12px;
      top: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent; // 与背景色一致
      border-bottom: 8px solid #FCEFDD;
    }
    &.reply-feedback {
      background: #eff5ff;
      &::before {
        left:auto;
        right: 12px;
        border-bottom: 8px solid #eff5ff;
      }
    }
  }
}
