// sw-drawer Hook 样式文件
// 针对通过 useDrawer hook 创建的抽屉组件的样式定义
// sw-drawer 主要样式

.sw-drawer-background {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  // 添加硬件加速
  // transform: translateZ(0);
  // will-change: transform;
  // transform: scale(1);
  // transform-origin: 0 0;

  .el-drawer__header {
    background: #f8f8f9;
    margin-bottom: 0px;
    padding: 16px 20px;
    box-sizing: border-box;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #f0f0f0;
    // 避免重绘
    // contain: layout style;
  }

  .el-drawer__footer {
    margin-bottom: 0px;
    padding: unset;
    // 避免重绘
    // contain: layout style;
  }

  .el-drawer {
    background: #f8f8f9;
    // 添加硬件加速
    // transform: translateZ(0);
    // will-change: transform;
  }

  .el-drawer__close-btn {
    // margin-right: -10px;
  }

  .sw-drawer-header-content {
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }

  .el-drawer__body {
    background: #f8f8f9;
    overflow: hidden auto;
    padding: 20px;
    // 优化滚动性能
    -webkit-overflow-scrolling: touch;
    // 避免重绘
    // contain: layout style;
  }

  .sw-drawer-content-wrapper {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    // 避免重绘，但不使用contain属性，因为它会影响tooltip定位
    // contain: layout style;
  }

  .sw-drawer-footer {
    padding: 10px 20px;
    background: #ffffff;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: flex-end;
    // 避免重绘，但不使用contain属性，因为它会影响tooltip定位
    // contain: layout style;

    // gap: 10px;
    .el-button:not(:first-child) {
      margin-left: 16px;
    }

    .el-button {
      font-size: 14px;
    }
  }
}

// sw-drawer 头部样式
// .sw-drawer-footer {
//   height: 52px;
//   /* 自动布局 */
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   border-radius: 0px 0px 8px 8px;
//   background: #ffffff;
//   box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.04);
// }

// .sw-drawer-header {
//   margin-top: -16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   img {
//     width: 16px;
//     height: 16px;
//   }
// }