.btn-group {
  margin-bottom: 15px;
}
.categorizedList {
  min-width: 800px;
  &-type {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
  }
  &-card {
    width: 100%;
    padding: 6px 20px 6px;
    box-sizing: border-box;
    background-image: linear-gradient(
      to top,
      rgba(250, 252, 255, 0.19) 0%,
      rgba(242, 247, 255, 0.78) 37%,
      #ebf2ff 100%
    );
    border-radius: 6px;
    margin-bottom: 10px;
  }

  &-header {
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;

    .header-item {
      text-align: left;
      padding: 10px 0;
      box-sizing: border-box;
      width: 35%;
      min-width: 120px;
      font-size: 14px;
      color: #666666;
    }

    .header-item:first-child {
      width: 25%;
    }
    .header-item:nth-child(2) {
      width: 20%;
    }
    .header-item:nth-child(3) {
      width: 40%;
    }
    .header-item:last-child {
      width: 120px;
      margin-right: 20px;
      margin-left: auto;
    }
  }
  &-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333333;
    margin-bottom: 16px;
    .content-item {
      width: 60%;
      text-align: left;
      min-width: 120px;
      padding-right: 6px;
      box-sizing: border-box;
      word-wrap: break-word;
    }
    .content-item:first-child {
      width: 25%;
    }
    .content-item:nth-child(2) {
      width: 20%;
    }
    .content-item:nth-child(3) {
      width: 40%;
    }
    .content-item:last-child {
      width: 120px;
      margin-right: 20px;
      margin-left: auto;
    }
  }

  // 操作
  .action {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
// 分隔线
.line {
  color: #b3bac9;
  margin: 0 6px;
}

:deep(.content-item .el-input__wrapper) {
  background-color: #f2f6fc;
  box-shadow: none;
}
:deep(.search-btn .el-button) {
  background-color: #f1f3f7;
  margin-right: 8px;
}
