.orderHandler {
  display: flex;
  max-width: 155px;
  flex-wrap: wrap;

  .orderHandler-item {
    display: flex;
    margin-right: 12px;
    align-items: center;

    &.in-tooltip {
      width: 70px;
      margin-bottom: 2px;
      margin-top: 2px;

      &:nth-last-of-type(-n + 2) {
        margin-bottom: 0;
      }

      &:nth-of-type(-n + 2) {
        margin-top: 0;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    .el-avatar {
      width: var(--el-avatar-size);
      height: var(--el-avatar-size);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .avatar {
    margin-right: 8px;
  }

  .name {
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
}

.sort-filter-popper {
  .el-input {
    width: 82px;
  }
}