:root {
  --vxe-ui-font-color: #333 !important;

  --el-text-color-regular: #333;

  --el-color-error: #eb3737;

  --login-bg-color: #293146;

  --left-menu-width: 230px;

  --left-menu-max-width: 230px;

  --left-menu-min-width: 230px;

  --left-menu-bg-color: #001529;

  --left-menu-bg-light-color: #0f2438;

  --left-menu-bg-active-color: var(--el-color-primary);

  --left-menu-text-color: #bfcbd9;

  --left-menu-text-active-color: #fff;

  --left-menu-collapse-bg-active-color: var(--el-color-primary);
  /* left menu end */

  /* logo start */
  --logo-height: 50px;

  --logo-title-text-color: '#111';
  /* logo end */

  /* header start */
  --top-header-bg-color: '#eff1f7';

  --top-header-text-color: 'inherit';

  --top-header-hover-color: #f6f6f6;

  --top-tool-height: var(--logo-height);

  --top-tool-crumb-height: 0px;

  --top-tool-p-x: 0;

  --tags-view-height: 35px;
  --tags-view-item-height: 35px;
  /* header start */

  /* tab menu start */
  --tab-menu-max-width: 80px;

  --tab-menu-min-width: 30px;

  --tab-menu-collapse-height: 36px;
  /* tab menu end */

  --app-content-padding: 10px;
  --app-content-padding-top: 0px;

  --app-content-bg-color: #eff1f7;

  --app-footer-height: 50px;

  --transition-time-02: 0.2s;

  --cus-menu-bg-color: #ffffff;
  /* --el-border-color: '#fff'; */

  --el-color-primary: #0064ff;

}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}