:deep(.summary-row) {
    // background-color: #e9ebef;
    background-color: #f2f6fc;
    color: #333;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 3;
}
.percentage {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    border-radius: 3px;
    padding: 0 4px;
    background: transparent;
    box-sizing: border-box;
    overflow: hidden;
    /* 让内容不超出 */

    &-progress-label {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #e6f3e6;
        z-index: 0;
        border-radius: 3px;
        transition: width 0.3s;
    }
    &-text {
        position: relative;
        z-index: 1;
        /* 保证文字在进度条上方 */
    }

    &.red{
        // color: #ff4d4f;
        // background: #ffe0e0;
        
        .percentage-progress-label {
            background: #ffe0e0;
        }
    }
  }




// 辅助容器
.cell-content-wrapper {
    position: relative;
    min-height: 32px;
    display: flex;
    align-items: center;
}


// 列头帮助提示“?”样式
.header-help {
    margin-left: 2px;
    font-size: 16px;
    color: #909399;
    vertical-align: middle;
    cursor: pointer;
}

