.sw-form-content-layout {
  .layout-item {
    background-color: #fff;
    border-radius: 8px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .layout-title {
      border-bottom: 1px solid #f0f0f0;
      padding: 16px 20px;

      h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        display: flex;
        align-items: center;
        gap: 6px;

        &:before {
          content: '';
          width: 3px;
          height: 10px;
          background-color: #0064ff;
        }
      }
    }

    .layout-content {
      padding: 20px;
    }
  }
}