.time-filter {
  height: calc(100%);
  display: flex;
  flex-direction: row;
  align-items: center;

  .time-filter-staticsLabel {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    letter-spacing: normal;
    color: #666666;
    line-height: 17px;
  }

  .time-filter-staticsTime {
    font-family: PingFang SC;
    font-weight: normal;
    text-align: right;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: 10px;
    font-size: 12px;
    color: #999999;
    line-height: 17px;
  }
}

.topDateFilter-bg {
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  background: #eef3fb;
  border-radius: 15px;
}

.topDateFilter-bg-timeSelect {
  font-size: 12px;
  color: #606266;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  &-selected {
    color: #ffffff;
    background: #dee6fb;
    border-radius: 15px;
    font-size: 12px;
    color: #0064ff;
    line-height: 30px;
  }

  &-line {
    width: 16px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
  }
}

.topDateFilter-bg-tips {
  cursor: pointer;
}

.topDateFilter-bg-tips-dis {
  cursor: not-allowed;
}

.topDateFilter-bg-timeSelect-name {
  position: relative;

  .topDateFilter-bg-timeSelect-date {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    height: 0px;
  }
}