.progressMainContent {
  // display: flex;
  .left{
    flex-grow: 1;
    min-height: calc(100vh - 120px);
    // min-width: 900px;
    // margin-right: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 0 20px 20px;
    display: flex;
    .documents{
      border-right: 1px solid #e5e5e5;
      padding-right: 20px;
      .docCollapse{
        margin-top: 20px;
        width: 209px;
        :deep(.el-collapse-item){
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
        }
        :deep(.el-collapse-item__header){
          font-size: 14px;
          padding: 12px 16px;
          background: #f4f6fa;
          color: #666;
          border-bottom: 1px solid #e5e5e5;
          line-height: unset;
          height: fit-content;
        }
        :deep(.el-collapse-item__content){
          padding: 10px;
        }
      }
    }
    .infos{
      padding-left: 20px;
      flex-grow: 1;
    }
  }
  .right{
    // min-height:calc(100vh - 100px);
    // width: 360px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    .nodeForm{
      // width: 358px;
      // flex-grow: 1;
      background: #fff;
      // border-radius: 0 0 8px 8px;
      // padding: 20px;
      border: solid 1px rgb(229, 229, 229);
      position: relative;
      .formTitle{
        box-sizing: border-box;
        padding: 12px 16px;
        width: 100%;
        height: 56px;
        // border-radius: 8px;
        margin: auto;
        background: linear-gradient(270deg, #FDF2FF 0%, #F6FCFF 47%, #EFF6FF 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nodeName{
          color: #0064FF;
          font-size: 18px;
          font-weight: 600;
        }
        .nodeOperationBtn{
          height: 100%;
        }
      }
      .formContent{
        margin: 20px 0;
      }
      .formFooter{
        // position: absolute;
        // width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // padding:10px 20px;
        padding: 10px;
        margin: 0 -20px -20px;
        border-top: 1px solid #e5e5e5;
        .auditBtns{
          margin-left: 10px;
        }
      }
    }
    .auditLogs{
      margin-top: 20px;
      background: #fff;
      border-radius: 8px;
      padding: 20px;
    }
  }
}