.nums {
  color: #EA0000;
}

:deep() {
  .el-tabs__item.is-active {
    .nums {
      color: var(--el-color-primary) !important;
    }
  }

  .el-tabs__item:hover {
    .nums {
      color: var(--el-color-primary) !important;
    }
  }
}