* {
  --el-menu-level-padding: 28px;
  --el-menu-item-height: 40px;
  --el-menu-sub-item-height: 40px;
  --el-border-radius-small: 10px;
  --el-menu-base-level-padding: 8px
}


.menu-body {
  position: relative;
  width: var(--left-menu-width) !important;
  height: 100%;
  background-color: #425DCC;

  .logo {
    cursor: pointer;
    height: 75px;
    border-bottom: 1px solid #4F6BDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4D69DB;

    .logo-img {
      display: inline-block;
      border-radius: 15px;
      margin: 0 10px;
    }

    .logo-text {
      display: inline-block;
      width: calc(100% - 60px);
      line-height: 40px;
      font-weight: 400;
      color: #fff !important;
    }
  }

  .expand_body {
    height: 52px;
    border-top: 1px solid #4F6BDF;
    text-align: center;
    color: #fff;
    background-color: #4D69DB;
    cursor: pointer;
    display: flex;
    justify-content: center;


    .expand_txt {
      display: inline-block;
      padding: 14px 5px;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
    }

    .expand_icon {
      margin-top: 17px;
      height: 20px !important;
    }
  }



  .menu-card {
    height: calc(100vh - 146px);
    padding: 8px 10px;
    color: #fff;

    .menu-item {
      border-radius: 8.98px !important;
      margin-bottom: 5px;

      :deep() {
        .el-menu--inline {
          border-radius: 8.98px !important;
        }
      }
    }

    :deep() {
      .el-menu {
        background-color: #425DCC;
      }

      .el-menu--collapse {
        width: 100%;

        .el-sub-menu__title {
          color: #fff !important;
        }

        .el-sub-menu.is-active .el-sub-menu__title {
          &:hover {
            background-color: #364CA4;
          }
        }

        .el-sub-menu .el-sub-menu__title {
          &:hover {
            background-color: #364CA4;
          }
        }

        .el-sub-menu {
          border-radius: 8.98px !important;


          &.is-active {
            background-color: #364CA4;
          }
        }

        .el-menu-item {
          padding: 0 8px;
        }

        .el-sub-menu__title {
          padding: 0 8px;
        }
      }

      .el-menu {
        border: none;

        .el-menu-item {
          border-radius: 8.98px !important;

          &:hover {
            background-color: #364CA4;
          }
        }

        .el-sub-menu__title {
          border-radius: 8.98px !important;
        }
      }
    }
  }
}

.is_self_item {
  background-color: #364CA4 !important;

  :deep() {
    .el-sub-menu__title {
      &:hover {
        background-color: #506ad1 !important;
      }
    }

    .el-menu--inline {
      background-color: #364CA4 !important;

      .el-menu-item {
        &.is-active {
          background-color: #506ad1 !important;
        }

        &:hover {
          background-color: #506ad1 !important;
        }
      }


    }
  }
}