.bonus-details {
  :deep(.el-card__body) {
    padding: 0 !important;
  }
  .card-sec-tit {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 16px 16px 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    &::after {
      position: absolute;
      left: 13px;
      top: 18px;
      content: '';
      display: block;
      width: 3px;
      height: 10px;
      background: #0064ff;
    }
  }
}

:deep(.bonus-form) {
  padding: 16px 0 0 16px;
  .el-input,
  .el-select {
    width: 343px;
  }
  .el-form-item {
    width: 50%;
  }
  .el-form-item__label {
    text-align: right;
  }
  .no-wrap-item {
    .el-form-item__label {
      line-height: 18px;
    }
  }
  .el-input-number {
    width: 100%;
  }
  .el-input-number .el-input__inner {
    text-align: left;
  }
  .proof-img {
    width: 98%;
    .el-form-item__label {
      width: 80px !important;
      margin-left: 2px;
      line-height: 18px;
    }
  }
  .upload-tip-text {
    font-weight: 500;
    color: #333;
  }
}

// 上传人选择器
.eloption .el-select-dropdown__wrap .el-select-dropdown__item {
  height: 50px !important;
}

// 下拉选项样式
.peopleOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  box-sizing: border-box;
  width: 100px;

  .left-wapper {
    display: flex;
    align-items: center;
  }

  .img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 14px;

    .text {
      height: 20px;
      line-height: 20px;
    }

    .name {
      font-size: 14px;
      color: #333333;
    }

    .desc {
      font-size: 12px;
      color: #999999;
    }
  }
}
// 选择的人样式
.label-wrapper {
  display: flex;
  align-items: center;
  height: 26px;
  width: 90px;
  background: #cad6f8;
  border-radius: 13px;
  padding: 1px 6px;
  box-sizing: border-box;

  .name {
    font-size: 14px;
    color: #333333;
    margin-left: 6px;
    margin-right: 6px;
  }

  .avatorLogo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
