.infoCard {
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
    border: none;

    .csheader {
      display: flex;
      align-items: center;

      .line {
        width: 3px;
        height: 10px;
        background: #0064ff;
        margin-right: 6px;
      }

      .title {
        font-size: 14px;
        color: #333;
        font-weight: 600;
      }
    }

    :deep(.el-card__header) {
      padding: 16px 20px;
    }

    :deep(.el-form--inline .el-form-item) {
      margin-right: 10px;
    }

    :deep(.el-form-item--default .el-form-item__label) {
      text-align: right;
    }

    .longLabel {
      :deep(.el-form-item__label) {
        line-height: 16px;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: #f8f8f9;
    padding: 4px 12px;
    height: 32px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e5e5e5 inset;

    .ava {
      margin-right: 6px;
    }

    span {
      color: #333;
    }
  }

:deep(.card_info){
  background: #f8f8f9;
}
