:deep(.copy-btn),
.copy-btn {
  padding: 0;
  max-width: 100%;
  color: #333;
  line-height: 20px;
  font-family: 'PingFang SC';

  & > span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:deep(.light),
.light {
  color: #fff;
}

:deep(.can-copy-cell) {
  color: #333;
  cursor: pointer;

  &:hover {
    color: #999;
  }
}

:deep(.can-click-cell) {
  color: #0064ff;
  cursor: pointer;

  &:hover {
    color: var(--el-color-primary-light-5);
  }
}

:deep(.disabled-click-cell) {
  color: var(--el-color-primary-light-5);
  cursor: not-allowed;
}

:deep(.status),
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  width: max-content;
  height: 28px;
  padding: 4px 0;
  border-radius: 14px;
  box-sizing: border-box;
  line-height: 20px;
}

:deep(.more-order-handler) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #999;
  cursor: default;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.el-image {
  display: flex;
  align-items: center;
}

.el-image-viewer__img {
  max-width: 80% !important;
  /* 最大宽度为容器的80% */
  max-height: 80vh !important;
  /* 最大高度为视口的80% */
  object-fit: contain;
  /* 保持图片比例，不拉伸 */
}

:deep(.el-input-group--prepend) {
  // width: 290px;

  .el-input-group__prepend {
    padding: 0;
    // transform: translateY(-1px);
    min-width: 116px;
    width: 40%;

    .el-select {
      width: 100%;
      margin: 0;
    }

    .el-select__selected-item {
      color: #666 !important;
    }
  }

  .el-input__wrapper {
    flex: 1;
    box-shadow: inset 0 0 0 1px #e5e5e5;

    .el-input__inner {
      width: 80%;
      height: 32px;
    }
  }
}

:deep(.el-input__wrapper) {
  box-shadow: inset 0 0 0 1px #e5e5e5;
}

:deep(.el-input__wrapper:hover) {
  box-shadow: inset 0 0 0 1px var(--el-input-hover-border-color);
}

:deep(.el-input__wrapper.is-focus) {
  box-shadow:
    inset 0 0 0 1px var(--el-color-primary),
    0 0 0 2px var(--el-color-primary-light-9);
}

:deep(.el-form-item) {
  .el-input {
    .el-input__wrapper {
      .el-input__inner {
        height: 32px;
      }
    }
  }

  &:is-not(.is-error) {
    .el-input__wrapper {
      box-shadow: inset 0 0 0 1px #e5e5e5;

      &:hover {
        box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
      }
    }
  }
}

.canEdit {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  font-size: 14px;
  color: #333;
  line-height: 20px;

  :deep(.el-form-item) {
    transform: translateY(9px);

    .el-form-item__content {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

:deep(.el-table) {
  &:not(.form-table) {
    .el-table__body-wrapper {
      .el-table__cell {
        .cell {
          line-height: 20px;
        }
      }
    }
  }

  .el-form {
    flex: 1;
  }
}

:deep(.el-input__wrapper) {
  padding-top: 0;
  padding-bottom: 0;
}

:deep(.el-date-editor) {
  --el-date-editor-width: 100%;
}

:deep(.el-form-item__label) {
  padding-right: 10;
}

:deep(.el-button) {
  fill: var(--el-button-text-color);

  &:hover {
    fill: var(--el-button-hover-text-color);
  }

  &.is-link {
    &:hover {
      fill: var(--el-button-hover-link-text-color);
    }
  }
}

:deep(.el-form-item__label) {
  line-height: 1.1 !important;
  align-items: center;
  text-align: right;
}

.el-card {
  :deep(.el-card__body) {
    overflow: hidden;
  }
}

:deep(.el-cascader) {
  width: 100%;
}

:deep(.light-scroll) {
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff50;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}

:deep(label) {
  display: flex !important;
  line-height: 1.1;
}

:deep(.el-textarea__inner) {
  color: #333;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:deep(.el-cascader__tags) {
  .el-tag.is-closable {
    max-width: 75%;
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  font-weight: 600;

  &::before {
    content: '';
    display: block;
    margin-right: 6px;
    width: 3px;
    height: 10px;
    background-color: #0064ff;
  }

  :deep(.el-button--default) {
    margin-bottom: -9px;
    margin-top: -9px;
  }
}

:deep(.el-select__selection.is-near) {
  flex-wrap: nowrap;
}

:deep(.el-descriptions__label.is-bordered-label) {
  background-color: #f4f6fa;
  color: #666;
}
