.wrapper{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
  .header{
    width: 100%;
    padding: 14px 100px;
    box-sizing: border-box;
    background: #1E47AB;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right{
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .company{
        margin: 0 20px;
      }
    }
  }
  .endContent{
    width: fit-content;
    margin: auto;
    padding: 200px ;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #DDE2E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img{

    }
    .info{
      box-sizing: border-box;
      padding: 30px;
      width: 394px;
      height: 142px;
      background-image: url(@/assets/imgs/supplier/endBg.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color:#333;
      .line1{
        font-size: 22px;
        font-weight: 600;
      }
      .line2{
        font-size: 17px;
      }
    }
  }
  .content{
    margin: auto;
    margin-top: 30px;
    width: 94%;
    .title{
      background: #EAF0FF;
      height: 96px;
      .name{
        height: 100%;
        margin: auto;
        width: fit-content;
        display: flex;
        align-items: center;
        span{
          color:#1E47AB;
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
    .questionList{ 
      height: calc(100vh - 230px);
      .card{
        background: #F8F8F9;
        border: 1px solid #DDE2E9;
        margin-bottom: 20px;
        &_head{
          padding: 0 24px;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          border-bottom: 1px solid #E5E5E5;
          font-size: 20px;
          color: #333;
        }
        &_content{
          &_item{
            width: 96%;
            margin: auto;
            margin-top: 10px;
            border-bottom: 1px solid #e5e5e5;
            &:last-child{
              border-bottom: none;
            }
            .item_header{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 8px;
              &_title{
                display: flex;
                align-items: center;
                color: #333;
                .line{
                  width: 3px;
                  height: 12px;
                  background: #0064ff;
                  margin-right: 8px;
                }
                .text{
                  margin-right: 8px;
                }
              }
              :deep(.el-form-item),:deep(.el-form-item--default){
                margin-right: 0!important;
                margin-bottom:0!important;
              }
              :deep(.el-form-item__label ){
                color:#333;
              }
              :deep(.el-form-item__content){
                width: 100px;
              }
              :deep(.el-input__inner){
                color: #0064ff !important;;
              }
            }
            .desc{
              font-size: 16px;
              margin: 8px 0;
              line-height: 24px;
              padding: 10px;
              background: #FFFFFF;
              color: #333;
            }
            .remark{
              margin-bottom: 8px;
              :deep(.el-textarea__inner){
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    z-index: 99;
    background: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: right;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #E5E5E5;
  }
}