/*
 * @Author: wangxifeng-ZJ3bu
 * @Date: 2025-12-25 15:54:56
 * @LastEditors: wangxifeng-ZJ3bu
 * @LastEditTime: 2026-01-04 10:50:53
 */
.statistics-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  // 过渡动画
  .fade-enter-active,
  .fade-leave-active {
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  .fade-enter-from {
    opacity: 0;
    transform: translateY(10px);
  }

  .fade-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }

  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  .filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 14px;
    .filter-left {
      display: flex;
      gap: 12px;
      align-items: center;
      :deep(.el-select) {
        width: 220px;
      }
    }

    .filter-right {
      display: flex;
      gap: 8px;
    }
  }

  .update-time-cnt {
    display: flex;
    align-items: center;
    padding: 15px 0 19px;
    gap: 30px;
    .update-time-cnt-title {
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }
    .update-time {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #666;

      .refresh-icon {
        cursor: pointer;
        margin-left: 8px;
        &:hover {
          color: #0064ff;
        }
      }
      .update-time-text {
        color: #333;
      }
    }
  }

  .metrics-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
    .metric-card {
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      padding: 16px;
      background: #fcfcfc;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      .card-line {
        display: none;
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 3px;
        border-radius: 10px;
        opacity: 1;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(104, 127, 243, 0.4) 25%,
          rgba(104, 127, 243, 0.4) 78%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &:hover {
        background: linear-gradient(179deg, #ffffff 2%, #f4f5fc 97%);
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
        .card-line {
          display: block;
        }
      }

      &.active {
        background: linear-gradient(179deg, #ffffff 3%, #f4f5fc 97%);
        border: 1px solid #0064ff;
        .card-line {
          display: block;
        }
      }

      .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-left {
          flex: 1;

          .metric-label {
            font-size: 14px;
            color: #666;
            line-height: 20px;
          }

          .metric-value {
            padding-top: 12px;
            font-size: 24px;
            color: #333;
            line-height: 30px;

            .metric-unit {
              font-size: 14px;
              color: #666;
              margin-left: 4px;
            }
          }
        }

        .card-right {
          svg {
            display: block;
          }
        }
      }
    }
  }

  .list-header {
    padding: 20px 0;
    .list-title {
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }
  }
  .list-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;

    :deep(.el-input__wrapper) {
      height: 30px;
    }

    .list-controls-left,
    .list-controls-right {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 14px;
      color: #666;
      :deep(.el-input) {
        width: 180px;
      }
    }

    .view-mode-group {
      :deep(.el-radio-button) {
        .el-radio-button__inner {
          padding: 6px 12px;
          background: #fff;
          color: #666;
          img {
            width: 16px;
            height: 15px;
          }
        }
      }
    }
    .export-range-group {
      :deep(.el-select__wrapper) {
        border-radius: 4px 0 0 4px;
      }
      .el-button {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  .data-display {
    flex: 1;
    overflow: hidden;
    background: #fff;
  }
}
