.biClear {}

.channel-img {
  height: 18px;
  position: absolute;
  margin-top: 2px;
}

.each-tag {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1;
  color: #fff;

  &-success {
    color: #349B34;
    background-color: #D6EBD6;
  }

  &-fail {
    color: #EB3737;
    background-color: #FFD9D9;
  }
}