.home_page {
    // height: calc(100vh - var(--tags-view-item-height) - var(--top-tool-height) - var(--app-content-padding) - 12px);
    padding-bottom: 10px;

    .top {
        margin-top: 20px;
    }

    .no_p_r {
        padding-right: 0px !important;
    }

    .home_page_body {
        width: calc(100% + 10px);

        .home_page_card {
            border-radius: 10px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            padding: 16px 20px;

            .home_page_title {
                display: inline-block;
                width: 100%;
                color: #1C1D1D;
                font-weight: 500;
                font-size: 16px;
            }

            .home_page_txt {
                margin-top: 6px;
                display: inline-block;
                width: 100%;
                color: #666;
                font-size: 14px;
            }
        }
    }
}

.h_544 {
    height: 522px;
}

.h_312 {
    height: 290px;
}